.grid-table {
  clear: both;
}
.grid-table__heading-button {
  background:none;
  border:none;
  padding:0;
  margin:0;
}
.grid-table_td,
.grid-table_th {
  position: relative;
}
.gird_table_p {
  padding-right: 20px;
}
.grid-table_th {
  cursor: pointer;
}

.grid-table_icon,
.grid-table_span  {
  position:absolute;
  top:0px;
  right:0px;
  font-size: x-small;
  cursor: pointer;
  height:100%;
  background: #ddd;
  display: block;
  padding:5px
}

.grid-table_span {
  top:50%;
  background:none;
}

.grid-table_icon {
  display:none;
}

.grid-table_span {
  float:left;
}