.popover-content {
  position: relative;
  padding-right:20px;
}

.popover-content__input {
  padding:4px
}

.popover-content__search {
  margin-left:5px;
  padding:5px;
}

.popover-content__icon {
  position:absolute;
  top:5px;
  right:5px;
  font-size: x-small;
  cursor: pointer;
  border:none;
  background:none;
  padding: 0;
}


.popover-content__list {
  list-style: none;
  padding:0;
  margin:0;
  overflow: hidden;
}

.popover-content__list-item {

}

.popover-content__list-item__link {

}