<h1>Grid</h1>

<form name='editContact' novalidate class=''>
  <fieldset>
    <p><input type='search' class='form-control' ng-model='query' placeholder='Search' /> </p>

    <table class='table table-hover table-bordered'>
      <thead>
        <tr>
          <th ng-repeat='field in fields' ng-click='sort(field)'>
              {{ field | labelCase }}
              <span ng-show='sort.field === field && !sort.order' class='glyphicon glyphicon-chevron-down'></span>
              <span ng-show='sort.field === field && sort.order' class='glyphicon glyphicon-chevron-up'></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-click='show(contact.id)'  ng-focus='focused(service)'
        ng-blur='blured()' dir-paginate='(key, value) in services | filter:query | orderBy: sort.field : sort.order | itemsPerPage: 4   '>

          <td ng-repeat='field in fields' ng-switch='field'>
            <div ng-switch-default >
              {{ value[field] }}
              <span fieldtype="textinput" class="glyphicon glyphicon-pencil" fieldname="{{ value[field] }}" popover savename='save' style="float:right"></span>
            </div>

            <div ng-switch-when='listSelectItems'>
              {{selectedListItems[key].selected}}
              <span fieldtype="select" class="glyphicon glyphicon-pencil" fieldname="{{ value[field] }}" popover savename='save' style="float:right"></span>
            </div>

            <div ng-switch-when='listEditItems'>
              <span fieldtype="editList" listitems='{{value[field]}}' class="glyphicon glyphicon-th-list" fieldname="{{ value[field] }}" popover savename='save' style="float:right"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="shared/pagination/dirPagination.tpl.html"></dir-pagination-controls>

    <div class="form-group right">
      <div class="form-group-left">
        <button type="reset" class="btn btn-default btn-disabled">Add</button>
        <button type="submit" class="btn btn-primary btn-disabled" ng-disabled="isDisabled">Edit</button>
      </div>
    </div>
  </fieldset>
</form>



